/**
* Utility class library
*
* Naming conventions
*
* - Prefix the utility names with the gl- namespace
* - Use t(op), b(ottom), left(l), and r(ight) to indicate
*   positioning variations, i.e. gl-border-b-1
*
*/

/**
* Padding utilities.
*
* naming convention: gl-p{position}-{spacing-scale-index}
* notes:
* - Utilities should strictly follow $gl-spacing-scale
*/
@mixin gl-p-0 { padding: map-get($gl-spacing-scale, 0); }
@mixin gl-p-4 { padding: map-get($gl-spacing-scale, 4); }

@mixin gl-px-3 {
  padding-left: map-get($gl-spacing-scale, 3);
  padding-right: map-get($gl-spacing-scale, 3);
}

@mixin gl-pr-2 { padding-right: map-get($gl-spacing-scale, 2); }

@mixin gl-pl-2 { padding-left: map-get($gl-spacing-scale, 2); }

@mixin gl-py-0 {
  padding-top: map-get($gl-spacing-scale, 0);
  padding-bottom: map-get($gl-spacing-scale, 0);
}
@mixin gl-py-2 {
  padding-top: map-get($gl-spacing-scale, 2);
  padding-bottom: map-get($gl-spacing-scale, 2);
}
@mixin gl-py-3 {
  padding-top: map-get($gl-spacing-scale, 3);
  padding-bottom: map-get($gl-spacing-scale, 3);
}
@mixin gl-py-4 {
  padding-top: map-get($gl-spacing-scale, 4);
  padding-bottom: map-get($gl-spacing-scale, 4);
}

/**
* Margin utilities.
*
* naming convention: gl-m{position}-{spacing-scale-index}
* notes:
* - Utilities should strictly follow $gl-spacing-scale
*/
@mixin gl-mr-2 { margin-right: map-get($gl-spacing-scale, 2); }

@mixin gl-my-auto {
  margin-top: map-get($gl-spacing-scale, 'auto');
  margin-bottom: map-get($gl-spacing-scale, 'auto');
}

@mixin gl-mx-3 {
  margin-left: map-get($gl-spacing-scale, 3);
  margin-right: map-get($gl-spacing-scale, 3);
}

/**
* Fixed dimension (width/height) utilities
*
* naming convention: gl-{width|height}-{spacing-scale-index}
* notes:
* - Utilities should strictly follow $gl-spacing-scale
*/
@mixin gl-fixed-width-3 { width: map-get($gl-spacing-scale, 3); }
@mixin gl-fixed-width-4 { width: map-get($gl-spacing-scale, 4); }

@mixin gl-fixed-height-4 { width: map-get($gl-spacing-scale, 4); }



/**
* Border style utilities.
*
* naming convention: gl-border-{style}
*/
@mixin gl-border-solid { border-style: solid; }


/**
* Border style utilities.
*
* naming convention: gl-border-{color-palette-variable}
* notes:
* - Prefer design system color palette. See variables.scss
* for a comprehensive list.
*/
@mixin gl-border-gray-200 { border-color: $gray-200; }
@mixin gl-border-gray-300 { border-color: $gray-300; }


/**
* Border width utilities.
*
* naming convention: gl-border-{position}-{border-width}
* notes:
* - Base new utilities in this group in the $gl-border-size variable
*/
@mixin gl-border-0 { border-width: map-get($gl-border-sizes, 0); }
@mixin gl-border-b-1 { border-bottom-width: map-get($gl-border-sizes, 1); }

/**
* Border radius utilities.
*
* naming convention: gl-rounded-{roundness-size}
* notes:
* - Base new utilities in this group in the $gl-border-radius variables
*/
@mixin gl-rounded-full { border-radius: $gl-border-radius-full; }

/**
* Font size utility

* Notes:
* - Strictly based on design system type scale. See
* $gl-type-scale for further references.
*/
@mixin gl-font-sm { font-size: map-get($gl-type-scale, 'sm'); }

/**
* Font-weight utilities.
*
* naming convention: gl-font-weight-[bold|normal]
*/
@mixin gl-font-weight-normal { font-weight: $gl-font-weight-normal; }
@mixin gl-font-weight-bold { font-weight: $gl-font-weight-bold; }


/**
* Text color utilities.
*
* naming convention: gl-text-{color-palette-variable-name}
* notes:
* - Strictly based design system color palette. See variables.scss
* for a comprehensive list.
*/
@mixin gl-text-gray-400 { color: $gray-400; }
@mixin gl-text-gray-700 { color: $gray-700; }
@mixin gl-text-gray-900 { color: $gray-900; }
@mixin gl-text-gray-950 { color: $gray-950; }


/**
* Line height utilities.
*
* naming convention: gl-line-height-{line-height-in-pixels}
* notes:
* - Strictly based in gl-line-height-{n} variables
*/
@mixin gl-line-height { line-height: $gl-line-height; }

/**
* Align-items utilities
*/
@mixin gl-align-items-center { text-align: center; }

/**
* Inset border utilities
*
* Uses box-shadow: inset to create a border that does not
* increase the box size of an element
*
* Naming convention: gl-inset-border-{border-position}-{border-size}-{color-name}
*/
@mixin gl-inset-border-b-2-gray-200 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $gray-200;
}

@mixin gl-inset-border-b-2-theme-indigo-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-indigo-500;
}

@mixin gl-inset-border-b-2-theme-red-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-red-500;
}

@mixin gl-inset-border-b-2-theme-light-red-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-light-red-500;
}

@mixin gl-inset-border-b-2-theme-blue-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-blue-500;
}

@mixin gl-inset-border-b-2-theme-light-blue-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-light-blue-500;
}

@mixin gl-inset-border-b-2-theme-green-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-green-500;
}

/**
* Position utilities.
*
* naming convention: gl-position-{property-value}
*/
@mixin gl-position-absolute { position: absolute; }

/**
* Coords utilities
*
* naming convention: gl-{position}-{value}
*/
@mixin gl-top-0 { top: 0; }
@mixin gl-right-0 { right: 0; }

/**
* Cursor utilities
*
* naming convention: gl-cursor-{property-value}
*/
@mixin gl-cursor-pointer { cursor: pointer; }


/**
* Background color utilities.
*
* naming convention: gl-bg-{color-palette-variable-name}
* notes:
* - Strictly based design system color palette. See variables.scss
* for a comprehensive list.
*/
@mixin gl-bg-transparent { background-color: transparent; }
@mixin gl-bg-white-light { background-color: $white-light; }
