@mixin base-type() {
  @include gl-font-regular;
  @include gl-font-base;
  @include gl-line-height-normal;
}

@mixin str-truncated($max-width: 82%) {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  max-width: $max-width;
}
