/**
* Utility class library
*
* ===========
* = WARNING =
* ===========
*
* Please take caution to make sure that the utility naming and values are consistent. We'd like to
* be able to automate this file in the future.
*
* Naming conventions
*
* - Prefix the utility names with the gl- namespace
* - Use t(op), b(ottom), l(eft), and r(ight) to indicate
*   positioning variations, i.e. gl-border-b-1
*/

/**
* Padding utilities.
*
* naming convention: gl-p{position}-{spacing-scale-index}
* notes:
* - Utilities should strictly follow $gl-spacing-scale
*/
@mixin gl-p-0 { padding: $gl-spacing-scale-0; }
.gl-p-0 { @include gl-p-0; }

@mixin gl-p-3 { padding: $gl-spacing-scale-3; }
.gl-p-3 { @include gl-p-3; }

@mixin gl-p-4 { padding: $gl-spacing-scale-4; }
.gl-p-4 { @include gl-p-4; }

@mixin gl-px-3 {
  padding-left: $gl-spacing-scale-3;
  padding-right: $gl-spacing-scale-3;
}
.gl-px-3 { @include gl-px-3; }

@mixin gl-px-4 {
  padding-left: $gl-spacing-scale-4;
  padding-right: $gl-spacing-scale-4;
}
.gl-px-4 { @include gl-px-4; }

@mixin gl-pr-2 { padding-right: $gl-spacing-scale-2; }
.gl-pr-2 { @include gl-pr-2; }

@mixin gl-pl-0 { padding-left: $gl-spacing-scale-0; }
.gl-pl-0 { @include gl-pl-0; }

@mixin gl-pl-2 { padding-left: $gl-spacing-scale-2; }
.gl-pl-2 { @include gl-pl-2; }

@mixin gl-pl-3 { padding-left: $gl-spacing-scale-3; }
.gl-pl-3 { @include gl-pl-3; }

@mixin gl-py-0 {
  padding-top: $gl-spacing-scale-0;
  padding-bottom: $gl-spacing-scale-0;
}
.gl-py-0 { @include gl-py-0; }

@mixin gl-pt-5 { padding-top: $gl-spacing-scale-5; }
.gl-pt-5 { @include gl-pt-5; }

@mixin gl-pb-2 { padding-bottom: $gl-spacing-scale-2; }
.gl-pb-2 { @include gl-pb-2; }

@mixin gl-pb-3 { padding-bottom: $gl-spacing-scale-3; }
.gl-pb-3 { @include gl-pb-3; }

@mixin gl-pb-4 { padding-bottom: $gl-spacing-scale-4; }
.gl-pb-4 { @include gl-pb-4; }

@mixin gl-py-2 {
  padding-top: $gl-spacing-scale-2;
  padding-bottom: $gl-spacing-scale-2;
}
.gl-py-2 { @include gl-py-2; }

@mixin gl-py-3 {
  padding-top: $gl-spacing-scale-3;
  padding-bottom: $gl-spacing-scale-3;
}
.gl-py-3 { @include gl-py-3; }

@mixin gl-py-4 {
  padding-top: $gl-spacing-scale-4;
  padding-bottom: $gl-spacing-scale-4;
}
.gl-py-4 { @include gl-py-4; }

@mixin gl-py-5 {
  padding-top: $gl-spacing-scale-5;
  padding-bottom: $gl-spacing-scale-5;
}
.gl-py-5 { @include gl-py-5; }

/**
* Margin utilities.
*
* naming convention: gl-m{position}-{spacing-scale-index}
* notes:
* - Utilities should strictly follow $gl-spacing-scale
*/
@mixin gl-m-0 { margin: $gl-spacing-scale-0; }
.gl-m-0 { @include gl-m-0; }

@mixin gl-mt-0 { margin-top: $gl-spacing-scale-0; }
.gl-mt-0 { @include gl-mt-0; }

@mixin gl-mt-1 { margin-top: $gl-spacing-scale-1; }
.gl-mt-1 { @include gl-mt-1; }

@mixin gl-mt-2 { margin-top: $gl-spacing-scale-2; }
.gl-mt-2 { @include gl-mt-2; }

@mixin gl-mt-3 { margin-top: $gl-spacing-scale-3; }
.gl-mt-3 { @include gl-mt-3; }

@mixin gl-mr-2 { margin-right: $gl-spacing-scale-2; }
.gl-mr-2 { @include gl-mr-2; }

@mixin gl-mr-3 { margin-right: $gl-spacing-scale-3; }
.gl-mr-3 { @include gl-mr-3; }

@mixin gl-mr-5 { margin-right: $gl-spacing-scale-5; }
.gl-mr-5 { @include gl-mr-5; }

@mixin gl-mb-1 { margin-bottom: $gl-spacing-scale-1; }
.gl-mb-1 { @include gl-mb-1; }

@mixin gl-mb-2 { margin-bottom: $gl-spacing-scale-2; }
.gl-mb-2 { @include gl-mb-2; }

@mixin gl-mb-3 { margin-bottom: $gl-spacing-scale-3; }
.gl-mb-3 { @include gl-mb-3; }

@mixin gl-ml-1 { margin-left: $gl-spacing-scale-1; }
.gl-ml-1 { @include gl-ml-1; }

@mixin gl-mb-2 { margin-bottom: $gl-spacing-scale-2; }
.gl-mb-2 { @include gl-mb-2; }

@mixin gl-mb-3 { margin-bottom: $gl-spacing-scale-3; }
.gl-mb-3 { @include gl-mb-3; }

@mixin gl-mb-4 { margin-bottom: $gl-spacing-scale-4; }
.gl-mb-4 { @include gl-mb-4; }

@mixin gl-mb-5 { margin-bottom: $gl-spacing-scale-5; }
.gl-mb-5 { @include gl-mb-5; }

@mixin gl-ml-0 { margin-left: $gl-spacing-scale-0; }
.gl-ml-0 { @include gl-ml-0; }

@mixin gl-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.gl-my-auto { @include gl-my-auto; }

@mixin gl-mx-3 {
  margin-left: $gl-spacing-scale-3;
  margin-right: $gl-spacing-scale-3;
}
.gl-mx-3 { @include gl-mx-3; }

/**
* Fixed dimension (width/height) utilities
*
* naming convention: gl-{width|height}-{spacing-scale-index}
* notes:
* - Utilities should strictly follow $gl-spacing-scale
*/
@mixin gl-w-3 { width: $gl-spacing-scale-3; }
.gl-w-3 { @include gl-w-3; }

@mixin gl-w-4 { width: $gl-spacing-scale-4; }
.gl-w-4 { @include gl-w-4; }

@mixin gl-w-5 { width: $gl-spacing-scale-5; }
.gl-w-5 { @include gl-w-5; }

@mixin gl-w-6 { width: $gl-spacing-scale-6; }
.gl-w-6 { @include gl-w-6; }

@mixin gl-w-7 { width: $gl-spacing-scale-7; }
.gl-w-7 { @include gl-w-7; }

@mixin gl-w-9 { width: $gl-spacing-scale-9; }
.gl-w-9 { @include gl-w-9; }

@mixin gl-w-11 { width: $gl-spacing-scale-11; }
.gl-w-11 { @include gl-w-11; }

@mixin gl-w-13 { width: $gl-spacing-scale-13; }
.gl-w-13 { @include gl-w-13; }

@mixin gl-h-4 { height: $gl-spacing-scale-4; }
.gl-h-4 { @include gl-h-4; }

@mixin gl-h-5 { height: $gl-spacing-scale-5; }
.gl-h-5 { @include gl-h-5; }

@mixin gl-h-auto { height: auto; }
.gl-h-auto { @include gl-h-auto; }

@mixin gl-h-6 { height: $gl-spacing-scale-6; }
.gl-h-6 { @include gl-h-6; }

@mixin gl-h-7 { height: $gl-spacing-scale-7; }
.gl-h-7 { @include gl-h-7; }

@mixin gl-h-9 { height: $gl-spacing-scale-9; }
.gl-h-9 { @include gl-h-9; }

@mixin gl-h-11 { height: $gl-spacing-scale-11; }
.gl-h-11 { @include gl-h-11; }

@mixin gl-h-13 { height: $gl-spacing-scale-13; }
.gl-h-13 { @include gl-h-13; }

/**
* Border style utilities.
*
* naming convention: gl-border-{position}-{style}
*/
@mixin gl-border-none { border-style: none; }
.gl-border-none { @include gl-border-none; }

@mixin gl-border-solid { border-style: solid; }
.gl-border-solid { @include gl-border-solid; }

@mixin gl-border-b-solid { border-bottom-style: solid; }
.gl-border-b-solid { @include gl-border-b-solid; }

/**
* Border style utilities.
*
* naming convention: gl-border-{color-palette-variable}
* notes:
* - Prefer design system color palette. See variables.scss
* for a comprehensive list.
*/
@mixin gl-border-gray-200 { border-color: $gray-200; }
.gl-border-gray-200 { @include gl-border-gray-200; }

@mixin gl-border-gray-300 { border-color: $gray-300; }
.gl-border-gray-300 { @include gl-border-gray-300; }

@mixin gl-border-t-gray-a-08 { border-color: $t-gray-a-08; }
.gl-border-t-gray-a-08 { @include gl-border-t-gray-a-08; }

/**
* Border width utilities.
*
* naming convention: gl-border-{position}-{border-width}
* notes:
* - Base new utilities in this group in the $gl-border-size variable
*/
@mixin gl-border-0 { border-width: map-get($gl-border-sizes, 0); }
.gl-border-0 { @include gl-border-0; }

@mixin gl-border-1 { border-width: map-get($gl-border-sizes, 1); }
.gl-border-1 { @include gl-border-1; }

@mixin gl-border-b-1 { border-bottom-width: map-get($gl-border-sizes, 1); }
.gl-border-b-1 { @include gl-border-b-1; }

/**
* Border radius utilities.
*
* naming convention: gl-rounded-{roundness-size}
* notes:
* - Base new utilities in this group in the $gl-border-radius variables
*/
@mixin gl-rounded-base { border-radius: $gl-border-radius-base; }
.gl-rounded-base { @include gl-rounded-base; }

@mixin gl-rounded-full { border-radius: $gl-border-radius-full; }
.gl-rounded-full { @include gl-rounded-full; }

@mixin gl-rounded-small { border-radius: $gl-border-radius-small; }
.gl-rounded-small { @include gl-rounded-small; }

@mixin gl-rounded-lg { border-radius: $gl-border-radius-large; }
.gl-rounded-lg { @include gl-rounded-lg; }

/**
* Font family utility
*
* naming convention: gl-font-{family-name}
* Notes:
* - Strictly based on design system typography specs
*/
@mixin gl-font-monospace { font-family: $gl-monospace-font; }
.gl-font-monospace { @include gl-font-monospace; }

@mixin gl-font-regular { font-family: $gl-regular-font; }
.gl-font-regular { @include gl-font-regular; }

/**
* Font size utility
*
* naming convention: gl-font-{type-scale-size}
* Notes:
* - Strictly based on design system type scale. See
* $gl-type-scale for further references.
*/
@mixin gl-font-sm { font-size: map-get($gl-type-scale, 'sm'); }
.gl-font-sm { @include gl-font-sm; }

@mixin gl-font-base { font-size: map-get($gl-type-scale, 'base'); }
.gl-font-base { @include gl-font-base; }

@mixin gl-font-xl { font-size: map-get($gl-type-scale, 'xl'); }
.gl-font-xl { @include gl-font-xl; }

@mixin gl-font-2xl { font-size: map-get($gl-type-scale, '2xl'); }
.gl-font-2xl { @include gl-font-2xl; }

@mixin gl-font-3xl { font-size: map-get($gl-type-scale, '3xl'); }
.gl-font-3xl { @include gl-font-3xl; }

/**
* Font-weight utilities.
*
* naming convention: gl-font-weight-[bold|normal]
*/
@mixin gl-font-weight-normal { font-weight: $gl-font-weight-normal; }
.gl-font-weight-normal { @include gl-font-weight-normal; }

@mixin gl-font-weight-bold { font-weight: $gl-font-weight-bold; }
.gl-font-weight-bold { @include gl-font-weight-bold; }

/**
* Text color utilities.
*
* naming convention: gl-text-{color-palette-variable-name}
* notes:
* - Strictly based design system color palette. See variables.scss
* for a comprehensive list.
*/
@mixin gl-text-white { color: $white; }
.gl-text-white { @include gl-text-white; }

@mixin gl-text-gray-400 { color: $gray-400; }
.gl-text-gray-400 { @include gl-text-gray-400; }

@mixin gl-text-gray-600 { color: $gray-600; }
.gl-text-gray-600 { @include gl-text-gray-600; }

@mixin gl-text-gray-700 { color: $gray-700; }
.gl-text-gray-700 { @include gl-text-gray-700; }

@mixin gl-text-gray-900 { color: $gray-900; }
.gl-text-gray-900 { @include gl-text-gray-900; }

@mixin gl-text-gray-950 { color: $gray-950; }
.gl-text-gray-950 { @include gl-text-gray-950; }

@mixin gl-text-blue-500 { color: $blue-500; }
.gl-text-blue-500 { @include gl-text-blue-500; }

@mixin gl-text-blue-600 { color: $blue-600; }
.gl-text-blue-600 { @include gl-text-blue-600; }

@mixin gl-text-blue-700 { color: $blue-700; }
.gl-text-blue-700 { @include gl-text-blue-700; }

@mixin gl-text-green-500 { color: $green-500; }
.gl-text-green-500 { @include gl-text-green-500; }

@mixin gl-text-green-600 { color: $green-600; }
.gl-text-green-600 { @include gl-text-green-600; }

@mixin gl-text-green-700 { color: $green-700; }
.gl-text-green-700 { @include gl-text-green-700; }

@mixin gl-text-orange-500 { color: $orange-500; }
.gl-text-orange-500 { @include gl-text-orange-500; }

@mixin gl-text-orange-600 { color: $orange-600; }
.gl-text-orange-600 { @include gl-text-orange-600; }

@mixin gl-text-orange-700 { color: $orange-700; }
.gl-text-orange-700 { @include gl-text-orange-700; }

@mixin gl-text-red-500 { color: $red-500; }
.gl-text-red-500 { @include gl-text-red-500; }

@mixin gl-text-red-600 { color: $red-600; }
.gl-text-red-600 { @include gl-text-red-600; }

@mixin gl-text-red-700 { color: $red-700; }
.gl-text-red-700 { @include gl-text-red-700; }

/**
* Line height utilities.
*
* naming convention: gl-line-height-{line-height-in-pixels}
* notes:
* - Strictly based in gl-line-height-{n} variables
*/
@mixin gl-line-height-normal { line-height: $gl-line-height; }
.gl-line-height-normal { @include gl-line-height-normal; }

@mixin gl-line-height-24 { line-height: $gl-line-height-24; }
.gl-line-height-24 { @include gl-line-height-24; }

@mixin gl-line-height-32 { line-height: $gl-line-height-32; }
.gl-line-height-32 { @include gl-line-height-32; }

@mixin gl-line-height-52 { line-height: $gl-line-height-52; }
.gl-line-height-52 { @include gl-line-height-52; }

/**
* Text align utilities
*/
@mixin gl-text-center { text-align: center; }
.gl-text-center { @include gl-text-center; }

@mixin gl-text-decoration-none { text-decoration: none; }
.gl-text-decoration-none { @include gl-text-decoration-none; }

/**
* Vertical align utilities
*/
@mixin gl-vertical-align-top { vertical-align: top; }
.gl-vertical-align-top { @include gl-vertical-align-top; }

/**
* Inset border utilities
*
* Uses box-shadow: inset to create a border that does not
* increase the box size of an element
*
* Naming convention: gl-inset-border-{border-position}-{border-size}-{color-name}
*/
@mixin gl-inset-border-1-gray-200 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $gray-200;
}
.gl-inset-border-1-gray-200 { @include gl-inset-border-1-gray-200; }

@mixin gl-inset-border-1-gray-400 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $gray-400;
}
.gl-inset-border-1-gray-400 { @include gl-inset-border-1-gray-400; }

@mixin gl-inset-border-b-2-gray-200 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $gray-200;
}
.gl-inset-border-b-2-gray-200 { @include gl-inset-border-b-2-gray-200; }

@mixin gl-inset-border-1-blue-500 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $blue-500;
}
.gl-inset-border-1-blue-500 { @include gl-inset-border-1-blue-500; }

@mixin gl-inset-border-1-blue-600 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $blue-600;
}
.gl-inset-border-1-blue-600 { @include gl-inset-border-1-blue-600; }

@mixin gl-inset-border-1-green-500 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $green-500;
}
.gl-inset-border-1-green-500 { @include gl-inset-border-1-green-500; }

@mixin gl-inset-border-1-green-600 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $green-600;
}
.gl-inset-border-1-green-600 { @include gl-inset-border-1-green-600; }

@mixin gl-inset-border-1-orange-500 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $orange-500;
}
.gl-inset-border-1-orange-500 { @include gl-inset-border-1-orange-500; }

@mixin gl-inset-border-1-orange-600 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $orange-600;
}
.gl-inset-border-1-orange-600 { @include gl-inset-border-1-orange-600; }

@mixin gl-inset-border-1-red-500 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $red-500;
}
.gl-inset-border-1-red-500 { @include gl-inset-border-1-red-500; }

@mixin gl-inset-border-1-red-600 {
  box-shadow: inset 0 0 0 map-get($gl-border-sizes, 1) $red-600;
}
.gl-inset-border-1-red-600 { @include gl-inset-border-1-red-600; }

@mixin gl-inset-border-b-2-theme-indigo-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-indigo-500;
}
.gl-inset-border-b-2-theme-indigo-500 { @include gl-inset-border-b-2-theme-indigo-500; }

@mixin gl-inset-border-b-2-theme-red-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-red-500;
}
.gl-inset-border-b-2-theme-red-500 { @include gl-inset-border-b-2-theme-red-500; }

@mixin gl-inset-border-b-2-theme-light-red-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-light-red-500;
}
.gl-inset-border-b-2-theme-light-red-500 { @include gl-inset-border-b-2-theme-light-red-500; }

@mixin gl-inset-border-b-2-theme-blue-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-blue-500;
}
.gl-inset-border-b-2-theme-blue-500 { @include gl-inset-border-b-2-theme-blue-500; }

@mixin gl-inset-border-b-2-theme-light-blue-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-light-blue-500;
}
.gl-inset-border-b-2-theme-light-blue-500 { @include gl-inset-border-b-2-theme-light-blue-500; }

@mixin gl-inset-border-b-2-theme-green-500 {
  box-shadow: inset 0 (map-get($gl-border-sizes, 2) * -1) 0 0 $theme-green-500;
}
.gl-inset-border-b-2-theme-green-500 { @include gl-inset-border-b-2-theme-green-500; }

/**
* Box shadow utilities
*
* naming convention: gl-shadow-{config-name}
*/
@mixin gl-shadow-none { box-shadow: none; }
.gl-shadow-none { box-shadow: none; }

@mixin gl-shadow { box-shadow: 0 2px 3px 1px $gray-200; }
.gl-shadow { @include gl-shadow; }

/**
* Display utilities
*/
@mixin gl-display-flex { display: flex; }
.gl-display-flex { @include gl-display-flex; }

@mixin gl-display-inline-flex { display: inline-flex; }
.gl-display-inline-flex { @include gl-display-inline-flex; }

@mixin gl-display-flex { display: flex; }
.gl-display-flex { @include gl-display-flex; }

/**
* Flexbox utilities
*/
@mixin gl-align-items-baseline { align-items: baseline; }
.gl-align-items-baseline { @include gl-align-items-baseline; }

@mixin gl-align-items-center { align-items: center; }
.gl-align-items-center { @include gl-align-items-center; }

@mixin gl-flex-wrap { flex-wrap: wrap; }
.gl-flex-wrap { @include gl-flex-wrap; }

@mixin gl-flex-direction-column { flex-direction: column; }
.gl-flex-direction-column { @include gl-flex-direction-column; }

@mixin gl-justify-content-center { justify-content: center; }
.gl-justify-content-center { @include gl-justify-content-center; }

@mixin gl-align-self-start { align-self: flex-start; }
.gl-align-self-start { @include gl-align-self-start; }

@mixin gl-align-self-center { align-self: center; }
.gl-align-self-center { @include gl-align-self-center; }

/**
* Position utilities.
*
* naming convention: gl-{property-value}
*/
@mixin gl-absolute { position: absolute; }
.gl-absolute { @include gl-absolute; }

@mixin gl-static { position: static; }
.gl-static { @include gl-static; }

/**
* Overflow utilities.
*
* naming convention: gl-overflow-{property-value} |
* gl-overflow-x-{property-value} | gl-overflow-y-{property-value}
*/
@mixin gl-overflow-hidden { overflow: hidden; }
.gl-overflow-hidden { @include gl-overflow-hidden; }

/**
* Coords utilities
*
* naming convention: gl-{position}-{value}
*/
@mixin gl-top-0 { top: 0; }
.gl-top-0 { @include gl-top-0; }

@mixin gl-right-0 { right: 0; }
.gl-right-0 { @include gl-right-0; }

/**
* Cursor utilities
*
* naming convention: gl-cursor-{property-value}
*/
@mixin gl-cursor-default { cursor: default; }
.gl-cursor-default { @include gl-cursor-default; }

@mixin gl-cursor-pointer { cursor: pointer; }
.gl-cursor-pointer { @include gl-cursor-pointer; }

@mixin gl-cursor-not-allowed { cursor: not-allowed; }
.gl-cursor-not-allowed { @include gl-cursor-not-allowed; }

/**
* Background color utilities.
*
* naming convention: gl-bg-{color-palette-variable-name}
* notes:
* - Strictly based design system color palette. See variables.scss
* for a comprehensive list.
*/
@mixin gl-bg-transparent { background-color: $transparent; }
.gl-bg-transparent { @include gl-bg-transparent; }

@mixin gl-bg-white { background-color: $white; }
.gl-bg-white { @include gl-bg-white; }

@mixin gl-bg-gray-50 { background-color: $gray-50; }
.gl-bg-gray-50 { @include gl-bg-gray-50; }

@mixin gl-bg-gray-100 { background-color: $gray-100; }
.gl-bg-gray-100 { @include gl-bg-gray-100; }

@mixin gl-bg-gray-200 { background-color: $gray-200; }
.gl-bg-gray-200 { @include gl-bg-gray-200; }

@mixin gl-bg-gray-300 { background-color: $gray-300; }
.gl-bg-gray-300 { @include gl-bg-gray-300; }

@mixin gl-bg-blue-100 { background-color: $blue-100; }
.gl-bg-blue-100 { @include gl-bg-blue-100; }

@mixin gl-bg-blue-200 { background-color: $blue-200; }
.gl-bg-blue-200 { @include gl-bg-blue-200; }

@mixin gl-bg-blue-500 { background-color: $blue-500; }
.gl-bg-blue-500 { @include gl-bg-blue-500; }

@mixin gl-bg-blue-600 { background-color: $blue-600; }
.gl-bg-blue-600 { @include gl-bg-blue-600; }

@mixin gl-bg-blue-700 { background-color: $blue-700; }
.gl-bg-blue-700 { @include gl-bg-blue-700; }

@mixin gl-bg-green-100 { background-color: $green-100; }
.gl-bg-green-100 { @include gl-bg-green-100; }

@mixin gl-bg-green-200 { background-color: $green-200; }
.gl-bg-green-200 { @include gl-bg-green-200; }

@mixin gl-bg-green-500 { background-color: $green-500; }
.gl-bg-green-500 { @include gl-bg-green-500; }

@mixin gl-bg-green-600 { background-color: $green-600; }
.gl-bg-green-600 { @include gl-bg-green-600; }

@mixin gl-bg-green-700 { background-color: $green-700; }
.gl-bg-green-700 { @include gl-bg-green-700; }

@mixin gl-bg-orange-100 { background-color: $orange-100; }
.gl-bg-orange-100 { @include gl-bg-orange-100; }

@mixin gl-bg-orange-200 { background-color: $orange-200; }
.gl-bg-orange-200 { @include gl-bg-orange-200; }

@mixin gl-bg-orange-500 { background-color: $orange-500; }
.gl-bg-orange-500 { @include gl-bg-orange-500; }

@mixin gl-bg-orange-600 { background-color: $orange-600; }
.gl-bg-orange-600 { @include gl-bg-orange-600; }

@mixin gl-bg-orange-700 { background-color: $orange-700; }
.gl-bg-orange-700 { @include gl-bg-orange-700; }

@mixin gl-bg-red-100 { background-color: $red-100; }
.gl-bg-red-100 { @include gl-bg-red-100; }

@mixin gl-bg-red-200 { background-color: $red-200; }
.gl-bg-red-200 { @include gl-bg-red-200; }

@mixin gl-bg-red-500 { background-color: $red-500; }
.gl-bg-red-500 { @include gl-bg-red-500; }

@mixin gl-bg-red-600 { background-color: $red-600; }
.gl-bg-red-600 { @include gl-bg-red-600; }

@mixin gl-bg-red-700 { background-color: $red-700; }
.gl-bg-red-700 { @include gl-bg-red-700; }

@mixin gl-bg-gray-100 { background-color: $gray-100; }
.gl-bg-gray-100 { @include gl-bg-gray-100; }

@mixin gl-bg-gray-200 { background-color: $gray-200; }
.gl-bg-gray-200 { @include gl-bg-gray-200; }

@mixin gl-bg-blue-500 { background-color: $blue-500; }
.gl-bg-blue-500 { @include gl-bg-blue-500; }

/**
* Background position utilities.
*
* naming convention: gl-bg-{position}
*/
@mixin gl-bg-center { background-position: center; }
.gl-bg-center { @include gl-bg-center; }

/**
* Background size utilities.
*
* naming convention: gl-bg-{repeat-pattern}
*/
@mixin gl-bg-size-100p { background-size: 100% 100%; }
.gl-bg-size-100p { @include gl-bg-size-100p; }

/**
* Background repeat  utilities.
*
* naming convention: gl-bg-{repeat-pattern}
*/
@mixin gl-bg-no-repeat { background-repeat: no-repeat; }
.gl-bg-no-repeat { @include gl-bg-no-repeat; }

/**
* Background image utilities.
*
* naming convention: gl-bg-{image-name}
*/
@mixin gl-bg-chevron-left-sm { background-image: url($gl-icon-chevron-left-sm); }
.gl-bg-chevron-left-sm { @include gl-bg-chevron-left-sm; }

@mixin gl-bg-chevron-right-sm { background-image: url($gl-icon-chevron-right-sm); }
.gl-bg-chevron-right-sm { @include gl-bg-chevron-right-sm; }
