.gl-search-box-by-click {
  @include gl-h-7;
  @include gl-display-flex;
}

.gl-search-box-by-click-history {
  > button {
    @include gl-display-flex;
    @include gl-align-items-center;
    @include gl-p-3;
    @include gl-bg-white;
    @include gl-text-gray-700;
    @include gl-border-gray-200;
    @include gl-cursor-pointer;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.gl-search-box-by-click-history-icon-chevron {
  @include gl-text-gray-500;
}

.gl-search-box-by-click-history-icon {
  @include gl-mr-2;
}

.gl-search-box-by-click-input-wrapper {
  @include gl-relative;
  @include gl-border-gray-200;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  @include gl-pr-7;

  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }
}

.gl-search-box-by-click-input {
  height: 100%;
  @include gl-border-none;
  &:focus {
    box-shadow: none;
  }
  @include gl-text-gray-900;
  outline: none;
}

.gl-search-box-by-click-close-icon {
  @include gl-absolute;
  @include gl-right-0;
  @include gl-top-0;
  @include gl-border-none;
  @include gl-bg-transparent;
  @include gl-p-3;
  @include gl-line-height-0;

  @include gl-text-gray-500;
  @include gl-cursor-pointer;
  &:hover {
    @include gl-text-gray-900;
  }
  &:focus {
    outline: none;
  }
}

.gl-search-box-by-click-search-button {
  @include gl-display-flex;
  @include gl-align-items-center;
  @include gl-justify-content-center;
  @include gl-h-7;
  @include gl-w-7;
  @include gl-p-0;
  @include gl-border-gray-400;
  @include gl-text-gray-700;
  @include gl-bg-white;
  flex-shrink: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.gl-search-box-by-click-dropdown-header {
  @include gl-font-weight-bold;
  @include gl-text-center;
  @include gl-relative;
  width: 50 * $grid-size;
}
