# npm / yarn
/npm-debug.log
/yarn-error.log
/yarn.lock

# Storybook
/.storybook/
/storybook/
/public/
*.stories.js

# Test & Build
/danger/
/tests/
/.gitlab-ci.yml
/rollup.config.js
/src/**/*.spec.js
__snapshots__
Dangerfile

# Plop
plopfile.js
templates/

# Dot files
.gitlab/
.eslintrc
.prettierrc
.prettierignore
