<h1 class="h-display">UI Display • GitLab uses "GitLab Flavored Markdown" (GFM)</h1>
<p class="lg">UI Large Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in
  a few significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues,
  merge requests, milestones, snippets and more.</p>
<p>UI Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few significant
  ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge requests,
  milestones, snippets and more.</p>
<p class="sm">UI Small Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in
  a few significant ways to add some useful functionality. You can use GFM in the following areas: comments, issues,
  merge requests, milestones, snippets and more.</p>
<div class="gl-mt-5">UI Label • Not a paragraph, different line-height</div>
<div class="gl-mt-5 sm">UI Small Label • Not a paragraph, different line-height</div>
<div class="gl-mt-5 monospace lg">UI Large Monospace</div>
<div class="gl-mt-5 monospace">UI Large Monospace</div>
<div class="gl-mt-5 monospace sm">UI Large Monospace</div>

<h1>UI h1 • GitLab uses "GitLab Flavored Markdown" (GFM)</h1>
<p>UI Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few significant
  ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge requests,
  milestones, snippets and more.</p>

<h2>UI h2 • GitLab uses "GitLab Flavored Markdown" (GFM)</h2>
<p>UI Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few significant
  ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge requests,
  milestones, snippets and more.</p>

<h3>UI h3 • GitLab uses "GitLab Flavored Markdown" (GFM)</h3>
<p>UI Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few significant
  ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge requests,
  milestones, snippets and more.</p>

<h4>UI h4 • GitLab uses "GitLab Flavored Markdown" (GFM)</h4>
<p>UI Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few significant
  ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge requests,
  milestones, snippets and more.</p>

<h5>UI h5 • GitLab uses "GitLab Flavored Markdown" (GFM)</h5>
<p>UI Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few significant
  ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge requests,
  milestones, snippets and more.</p>

<h6>UI h6 • GitLab uses "GitLab Flavored Markdown" (GFM)</h6>
<p>UI Paragraph • GitLab uses "GitLab Flavored Markdown" (GFM). It extends the standard Markdown in a few significant
  ways to add some useful functionality. You can use GFM in the following areas: comments, issues, merge requests,
  milestones, snippets and more.</p>
