@mixin svg-size($size) {
  width: $size;
  height: $size;
}

.gl-icon svg {
  fill: currentColor;
  $svg-sizes: 8 10 12 14 16 18 24 32 48 72;
  @each $svg-size in $svg-sizes {
    &.s#{$svg-size} {
      @include svg-size(#{$svg-size}px);
    }
  }
}
