// off-grid padding requested by designers
$gl-search-input-icon-padding: 3.5 * $grid-size;

@mixin gl-search-box-by-type-icon {
  @include gl-m-3;
  @include gl-h-5;
}

.gl-search-box-by-type-icon {
  @include gl-search-box-by-type-icon;
  &.left {
    @include gl-absolute;
  }
}

.gl-search-box-by-type {
  @include gl-display-flex;
  @include gl-relative;
}

.gl-search-box-by-type-clear {
  @include gl-search-box-by-type-icon;
  @include gl-border-none;
  @include gl-bg-transparent;
  @include gl-p-0;
  @include gl-cursor-pointer;
  &:focus {
    outline: none;
  }
}

.gl-search-box-by-type-input {
  @include gl-h-7;
  @include gl-pr-7;
  padding-left: $gl-search-input-icon-padding;
}

.gl-search-box-by-type-right-icons {
  @include gl-display-flex;
  @include gl-right-0;
  @include gl-absolute;
}
