.gl-truncate {
  display: inline-flex;
  max-width: 100%;
}

.gl-truncate-start,
.gl-truncate-end {
  flex: 0 1 auto;
  white-space: nowrap;
  overflow: hidden;
}

.gl-truncate-start {
  direction: rtl;
  text-align: left;
  text-overflow: '';
}

.gl-truncate-end {
  text-overflow: ellipsis;
}
