$utilities: ();

@function create-utility-name($base-name, $suffix) {
  $utility-name: null;

  @if $base-name != '' and $suffix != '' {
    $utility-name: #{'#{$base-name}-#{$suffix}'};
  } @else if $base-name != '' {
    $utility-name: $base-name;
  } @else {
    $utility-name: $suffix;
  }

  @return $utility-name;
}

@mixin write-properties($properties) {
  @each $name, $value in $properties {
    #{$name}: $value;
  }
}

@mixin add-utility($base-name, $suffix, $properties, $is-add-class: true) {
  $utility-name: 'gl-#{create-utility-name($base-name, $suffix)}';

  $utilities: map-merge($utilities, (#{$utility-name}: $properties)) !global;

  @if $is-add-class {
    #{'.#{$utility-name}'} {
      @include write-properties($properties);
    }
  }
}

@mixin add-utility-silent($base-name, $suffix, $properties) {
  @include add-utility($base-name, $suffix, $properties, false);
}

@function find-utility($utility-name) {
  $utility: map-get($utilities, $utility-name);

  @if $utility == null {
    @error 'Utility with name #{$utility-name} not found';
  }

  @return $utility;
}

@mixin utility($utility-names...) {
  @each $utility-name in $utility-names {
    $utility: find-utility($utility-name);

    @include write-properties($utility);
  }
}
