@each $name, $space in $gl-spacing-scale {
  // Padding
  @include add-utility('padding', $name, (
    padding: $space
  ));

  @include add-utility('padding-l', $name, (
    padding-left: $space
  ));

  @include add-utility('padding-r', $name, (
    padding-right: $space
  ));

  @include add-utility('padding-x', $name, (
    padding-left: $space,
    padding-right: $space
  ));

  @include add-utility('padding-t', $name, (
    padding-top: $space
  ));

  @include add-utility('padding-b', $name, (
    padding-bottom: $space
  ));

  @include add-utility('padding-y', $name, (
    padding-top: $space,
    padding-bottom: $space
  ));
}
