
// font-family
@each $font-name, $font in $gl-fonts {
  @include add-utility('font', $font-name, (
    font-family: $font
  ));
}

// font-weight
@each $weight-name, $weight in $gl-font-weights {
  @include add-utility('font', $weight-name, (
    font-weight: $weight
  ));
}

// font-size
@each $size-name, $size in $gl-type-scale {
  @include add-utility('font', $size-name, (
    font-size: $size
  ));
}

// Line height
@each $name, $line-height in $gl-line-heights {
  @include add-utility('line-height', $name, (
    line-height: $line-height
  ));
}
