/*
 * Segmented-control-specific utilities
 */
@mixin gl-btn-gl-segmented-button-active($color) {
  box-shadow: inset 0 px-to-rem(2px) px-to-rem(4px) $color, inset 0 px-to-rem(1px) 0 $color,
    inset px-to-rem(1px) 0 0 $color, inset 0 px-to-rem(-1px) 0 $color,
    inset px-to-rem(-1px) 0 0 $color;
}

.gl-segmented-control {
  label:not(.disabled) {
    @include gl-cursor-pointer;
  }

  .btn-gl-segmented-button {
    @include gl-font-base;
    @include gl-line-height-normal;
    @include gl-text-gray-900;
    @include gl-fill-current-color;
    @include gl-bg-white;
    @include gl-inset-border-1-gray-200;

    &.active {
      @include gl-bg-gray-10;
      @include gl-btn-gl-segmented-button-active($gray-200);
    }

    &:focus-within {
      @include gl-focus;
    }

    &.disabled,
    &[disabled] {
      @include gl-bg-gray-50;
      @include gl-text-gray-600;
      @include gl-inset-border-1-gray-200;
      @include gl-opacity-10;
      cursor: not-allowed !important;
    }
  }
}
