$avatar-sizes: (
  16: (
    font-size: 10px,
    line-height: 16px,
    border-radius: $border-radius-small
  ),
  24: (
    font-size: 12px,
    line-height: 24px,
    border-radius: $border-radius-default
  ),
  32: (
    font-size: 14px,
    line-height: 32px,
    border-radius: $border-radius-default
  ),
  48: (
    font-size: 20px,
    line-height: 48px,
    border-radius: $border-radius-large
  ),
  64: (
    font-size: 28px,
    line-height: 64px,
    border-radius: $border-radius-large
  ),
  96: (
    font-size: 36px,
    line-height: 88px,
    border-radius: $border-radius-large
  ),
);

$identicon-backgrounds: $identicon-red, $identicon-purple, $identicon-indigo, $identicon-blue, $identicon-teal,
  $identicon-orange, $gray-darker;

// Mixin that handles the size and right margin of avatars.
@mixin avatar-size($size, $margin-right) {
  width: $size;
  height: $size;
  margin-right: $margin-right;
}

%gl-avatar-circle {
  float: left;
  margin-right: $gl-padding;
  border-radius: $avatar-radius;
  border: 1px solid $gray-normal;

  @each $size, $size-config in $avatar-sizes {
    &.s#{$size} {
      @include avatar-size(#{$size}px, if($size < 48, 8px, 16px));
    }
  }
}

.gl-avatar {
  @extend %gl-avatar-circle;
  transition-property: none;
  padding: 0;
  background: $gray-lightest;
  overflow: hidden;
  border-color: rgba($black, $gl-avatar-border-opacity);
}

.gl-avatar-identicon {
  text-align: center;
  vertical-align: top;
  color: $gray-800;
  background-color: $gray-darker;

  // Sizes
  @each $size, $size-config in $avatar-sizes {
    $keys: map-keys($size-config);

    &.s#{$size} {
      @each $key in $keys {
        // We don't want `border-radius` to be included here.
        @if ($key != 'border-radius') {
          #{$key}: map-get($size-config, #{$key});
        }
      }
    }
  }

  // Background colors
  @for $i from 1 through length($identicon-backgrounds) {
    &.bg#{$i} {
      background-color: nth($identicon-backgrounds, $i);
    }
  }
}

.gl-rect-avatar {
  border-radius: $border-radius-small;

  @each $size, $size-config in $avatar-sizes {
    &.s#{$size} {
      border-radius: map-get($size-config, 'border-radius');
    }
  }
}
