.gl-accordion-item {
  @include gl-mb-5;

  .gl-accordion-item-header {
    @include gl-m-0;
    @include gl-line-height-normal;
  }

  &:last-child {
    @include gl-mb-0;
  }

  .collapse {
    margin-left: $gl-spacing-scale-5 + $gl-spacing-scale-2;
  }
}
