// See https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_screen-reader.scss

@mixin gl-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin gl-sr-only-focusable {
  &:not(:focus) {
    @include gl-sr-only();
  }
}
