/* stylelint-disable property-no-vendor-prefix */
@mixin gl-appearance-none {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@mixin gl-number-as-text-input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}
/* stylelint-enable property-no-vendor-prefix */
