/**
* List style utilities.
*
* naming convention: gl-list-style-{value}
*/
@mixin gl-list-style-none {
  list-style-type: none;
}

@mixin gl-list-style-position-inside {
  list-style-position: inside;
}
