/**
* Pointer events utilities
*
* Naming convention gl-pointer-events-{property-value}
*/
@mixin gl-pointer-events-none {
  pointer-events: none;
}

@mixin gl-pointer-events-auto {
  pointer-events: auto;
}
