/**
* Transform utilities
*
* naming convention: gl-{transform}-{position}-{value}, or
*                    gl-{transform}-{value}
*/

@mixin gl-translate-x-0 {
  transform: translateX(0);
}

@mixin gl-translate-x-100 {
  transform: translateX(100%);
}

@mixin gl-translate-y-0 {
  transform: translateY(0);
}

@mixin gl-translate-y-100 {
  transform: translateY(100%);
}

@mixin gl-rotate-90 {
  transform: rotate(90deg);
}

@mixin gl-rotate-180 {
  transform: rotate(180deg);
}

@mixin gl-rotate-270 {
  transform: rotate(270deg);
}

@mixin gl-flip-horizontal {
  transform: scale(-1, 1);
}

@mixin gl-flip-vertical {
  transform: scale(1, -1);
}

@mixin gl-flip-both {
  transform: scale(-1, -1);
}
